---
import Base from '../../layouts/Base.astro';
---

<Base
  title="Anton Vinogradov's — CV"
  description="The history of professional experience"
  bodyClass="cv"
>
  <div class="md">
    <h1>Anton Vinogradov&rsquo;s — CV</h1>

    <p>CV EN</p>
  </div>
</Base>
